@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --red: #D52B2B;
  --red-light: #F28E8E;
  --green: #08A40D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
